@font-face {
  font-family: "BN";
  font-weight: normal;
  font-display: swap;
  src: local("BN"), url("../fonts/bebas-neue-regular.woff2") format("woff2"), url("../fonts/bebas-neue-regular.woff") format("woff");
}

@font-face {
  font-family: "BN";
  font-weight: bold;
  font-display: swap;
  src: local("BN"), url("../fonts/bebas-neue-bold.woff2") format("woff2"), url("../fonts/bebas-neue-bold.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: lighter;
  font-display: swap;
  src: local("Roboto Condensed"), url("../fonts/roboto-condensed-light.woff2") format("woff2"), url("../fonts/roboto-condensed-light.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: normal;
  font-display: swap;
  src: local("Roboto Condensed"), url("../fonts/roboto-condensed-regular.woff2") format("woff2"), url("../fonts/roboto-condensed-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto Condensed";
  font-weight: bold;
  font-display: swap;
  src: local("Roboto Condensed"), url("../fonts/roboto-condensed-bold.woff2") format("woff2"), url("../fonts/roboto-condensed-bold.woff") format("woff");
}
