$mobile: 767px;
$tablet: 1199px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$font-roboto: "Roboto Condensed", "Arial", sans-serif;
$font-bebas: "Bebas Neue", "Arial", sans-serif;
$white: #ffffff;
$blue: #102654;
$light-blue: #103aae;
$grey-blue: #495a7d;
$light-grey: #f8f9fc;
