.advantages {
  padding-top: 118px;
  padding-bottom: 114px;
  background-color: $light-grey;
}

.advantages__container {
  padding-left: 164px;
  padding-right: 164px;
}

.advantages h2 {
  font-family: $font-bebas;
  font-size: 49px;
  line-height: 49px;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #102654;
  width: 375px;
  margin: 0 auto;
  margin-bottom: 67px;
}

.advantages__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.advantages__item {
  position: relative;
  // width: 340px;
  width: 32.69%;
  min-height: 158px;
  // margin-right: 350px;
  margin-right: 33.65%;
  border-bottom: 2px solid rgba(209, 10, 66, 0.2);

  &:nth-child(2n) {
    margin-right: 0;
  }

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;

    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.advantages__item--space {
  padding-left: 138px;

  &::before {
    left: 25px;
    width: 108px;
    height: 75px;
    background-image: url("../img/advantages-space-desktop@1x.png");
  }
}

.advantages__item--parking {
  padding-left: 102px;

  &::before {
    width: 72px;
    height: 75px;
    background-image: url("../img/advantages-parking-desktop@1x.png");
  }
}

.advantages__item--comfort {
  border-bottom: none;
  padding-left: 138px;
  padding-top: 73px;

  &::before {
    left: 20px;
    top: 50%;
    width: 108px;
    height: 75px;
    background-image: url("../img/advantages-comfort-desktop@1x.png");
  }
}

.advantages__item--expirience {
  border-bottom: none;
  padding-left: 102px;
  padding-top: 73px;

  &::before {
    top: 50%;
    width: 72px;
    height: 75px;
    background-image: url("../img/advantages-expirience-desktop@1x.png");
  }
}

.advantages__item--main {
  border-bottom: none;
}

.advantages__item--space .advantages__wrapper {
  width: 205px;
  padding-left: 25px;
  margin-top: -3px;
}

.advantages__item--parking .advantages__wrapper {
  width: 235px;
  margin-top: -3px;
}

.advantages__item--comfort .advantages__wrapper {
  width: 205px;
  padding-left: 18px;
  padding-top: 2px;
}

.advantages__item--expirience .advantages__wrapper {
  width: 235px;
}

.advantages__item h3 {
  font-family: $font-roboto;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
  margin: 0;
  margin-bottom: 5px;
}

.advantages__item p {
  font-family: $font-roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

.advantages__item--main {
  position: absolute;
  left: 50%;
  top: 49.5%;
  width: 240px;
  min-height: 307px;
  background-color: #1c3374;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 35px 34px;
}

.advantages__count {
  margin-bottom: 30px;
}

.advantages__count p {
  font-family: $font-roboto;
  font-weight: bold;
  font-size: 74px;
  line-height: 111px;
  color: $white;
  margin: 0;
  margin-bottom: -15px;
}

.advantages__count span {
  font-weight: bold;
  font-size: 26px;
  line-height: 39px;
  color: $white;
}

.advantages__text p {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $white;
  margin: 0;
}

@media (max-width: 1300px) {
  .advantages__container {
    padding-left: 100px;
    padding-right: 100px;
  }
}

