.button {
  @include button-reset;

  display: block;
  min-width: 183px;
  min-height: 39px;
  padding: 19px 19px;
  text-transform: uppercase;
  text-align: center;
  font-family: $font-roboto;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  color: $white;
  letter-spacing: 0.05em;
  cursor: pointer;
  border: 4px solid $white;
  background: transparent;
}

.button--header {
  width: 233px;

  &:focus,
  &:hover {
    border-color: #00b2ff;
    color: #00b2ff;
    outline: none;
  }

  &:active {
    border-color: rgba(0, 178, 255, 0.5);
    color: rgba(0, 178, 255, 0.5);
  }
}

.button--card {
  min-width: 206px;
  min-height: 64px;
  padding: 20px 20px;
  padding-top: 25px;
  color: $blue;
  border: 2px solid $blue;

  &:focus,
  &:hover {
    color: $white;
    border: none;
    padding: 22px 22px;
    padding-top: 27px;
    background: linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
    outline: none;
  }

  &:active {
    opacity: 0.5;
  }
}

.button--events {
  min-height: 71px;
  padding: 25px 25px;

  &:focus,
  &:hover {
    border-color: #00b2ff;
    color: #00b2ff;
    outline: none;
  }

  &:active {
    border-color: rgba(0, 178, 255, 0.5);
    color: rgba(0, 178, 255, 0.5);
  }
}

@media (max-width: $tablet) {
  .button--header {
    width: 183px;
  }

  .button--card {
    max-width: 206px;
  }

  .button--events {
    min-height: 39px;
    max-width: 100%;
    padding: 13px 13px;
    border: 2px solid $white;
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: $mobile) {
  .button--header {
    width: 290px;
  }

  .button--events {
    min-width: 202px;
    max-width: 70%;
  }
}
