.button {
  @include button-reset;

  display: block;
  min-width: 183px;
  min-height: 39px;
  padding: 19px 19px;
  text-transform: uppercase;
  text-align: center;
  font-family: $font-roboto;
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
  color: $white;
  letter-spacing: 0.05em;
  cursor: pointer;
  border: 4px solid $white;
  background: transparent;
}

.button--header {
  max-width: 233px;

  &:focus,
  &:hover {
    border-color: #00b2ff;
    color: #00b2ff;
  }

  &:active {
    border-color: rgba(0, 178, 255, 0.5);
    color: rgba(0, 178, 255, 0.5);
  }
}

@media (max-width: $tablet) {
  .button--header {
    max-width: 183px;
  }
}

@media (max-width: $mobile) {
  .button--header {
    max-width: 290px;
  }
}
