.footer {
  padding-top: 45px;
  padding-bottom: 39px;
  background: #030a1a;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 103px;
  padding-right: 103px;
}

.footer__list,
.footer__socials {
  @include list-reset;

  margin: 0;
  margin-top: -4px;
  padding: 0;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 61px;
  margin-top: 0;
}

.footer__link {
  margin: 0;
  margin-right: 40px;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  font-family: $font-roboto;
  color: $white;

  &:focus,
  &:hover {
    color: #00b2ff;
    outline: none;
  }

  &:active {
    color: rgba(0, 178, 255, 0.5);
  }
}

.footer__socials {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.footer__socials-item {
  margin-right: 25px;

  &:last-of-type {
    margin-right: 0;
  }
}

.footer__socials-icon {
  fill: $white;
}

.footer__socials-link:hover .footer__socials-icon,
.footer__socials-link:focus .footer__socials-icon {
  opacity: 0.5;
}

.footer__socials-link:active .footer__socials-icon {
  opacity: 0.7;
}

@media (max-width: $tablet) {
  .footer {
    padding-top: 48px;
    padding-bottom: 42px;
  }

  .footer__container {
    min-width: 768px;
    padding-left: 45px;
    padding-right: 45px;
  }

  .footer__logo img {
    width: 82px;
    height: 18px;
  }

  .footer__link {
    margin-right: 30px;
  }

  .footer__list {
    margin-top: 0;
    margin-left: 45px;
  }

  .footer__socials {
    min-width: 100px;
    margin-top: -4px;
    padding-top: 0;
  }

  .footer__socials-item {
    margin-right: 20px;
  }
}

@media (max-width: $mobile) {
  .footer {
    padding-top: 48px;
    padding-bottom: 46px;
  }

  .footer__logo {
    position: absolute;
    top: 0;
    left: 15px;
  }

  .footer__logo img {
    width: 68px;
    height: 15px;
  }

  .footer__container {
    position: relative;
    flex-direction: column;
    min-width: 290px;
    padding: 0 15px;
  }

  .footer__nav {
    width: 100%;
  }

  .footer__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 200px;
    height: 135px;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
  }

  .footer__link {
    font-size: 16px;
    line-height: 19px;
  }

  .footer__socials {
    align-items: center;
    width: 180px;
  }

  .footer__socials-item {
    margin-right: 35px;

    &:last-of-type {
      margin-right: 35px;
    }
  }

  .footer__socials-icon--vk {
    width: 32px;
    height: 17px;
  }

  .footer__socials-icon--instagram {
    width: 27px;
    height: 27px;
  }

  .footer__socials-icon--fb {
    width: 14px;
    height: 27px;
  }

  .footer__item {
    margin-bottom: 21px;
    margin-right: 15px;
    width: 50%;

    &:first-child {
      padding-top: 41px;
    }
  }
}
