.gym {
  padding-top: 120px;
  padding-bottom: 119px;
}

.gym__container {
  padding-left: 103px;
  padding-right: 103px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.gym__text {
  padding-top: 48px;
  width: 31%;
  min-width: 323px;
  margin-left: 5.17%;
  margin-right: 1.72%;
  margin-bottom: 98px;
}

.gym__text h2 {
  margin: 0;
  margin-bottom: 8px;

  font-family: $font-bebas;
  text-transform: uppercase;
  font-size: 49px;
  line-height: 49px;
  letter-spacing: 0.03em;
  font-weight: bold;
  color: $blue;
}

.gym__text p {
  margin: 0;
  margin-bottom: 38px;

  font-family: $font-roboto;
  font-size: 18px;
  line-height: 27px;
  font-weight: normal;
  color: $blue;
}

.gym__description p {
  margin-bottom: 10px;
  padding-right: 5px;

  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.008em;
}

.gym__description p + p {
  margin-bottom: 0;
}

.gym__media {
  margin-left: 5.17%;
}

.gym__video {
  position: relative;
  width: 364px;
  height: 228px;
  margin-top: -113px;
  margin-left: -63px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 54, 122, 0.5);
  }
}

.gym__media video {
  width: 364px;
  height: 228px;
}

.gym__button {
  content: "";
  position: absolute;
  top: 28%;
  left: 36%;
  width: 100px;
  height: 100px;
  background: url("../img/icon-play.svg");
  border: none;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &:active {
    opacity: 0.8;
  }
}

@media (max-width: $tablet) {
  .gym {
    padding-top: 99px;
    padding-bottom: 99px;
  }

  .gym__container {
    padding-left: 45px;
    padding-right: 45px;

    flex-direction: column;
  }

  .gym__text {
    width: 510px;
    min-width: 502px;
    padding-top: 0;
    margin: 0 auto;
    margin-bottom: 7px;
    text-align: center;
  }

  .gym__text h2 {
    font-size: 42px;
    line-height: 42px;
    margin-bottom: 9px;
  }

  .gym__text p {
    margin-bottom: 35px;
  }

  .gym__description {
    padding-right: 0;
  }

  .gym__description p + p {
    display: none;
  }

  .gym__media {
    margin: 0 auto;
    text-align: center;
  }

  .gym__media img {
    width: 678px;
    height: 345px;
  }

  .gym__video {
    position: relative;
    width: 266px;
    height: 167px;

    margin: 0 auto;
    margin-top: -84px;
  }

  .gym__media video {
    width: 266px;
    height: 167px;
  }

  .gym__button {
    top: 28%;
    left: 95px;
    width: 73px;
    height: 73px;
    background-size: contain;
  }
}

@media (max-width: $mobile) {
  .gym {
    padding-top: 69px;
    padding-bottom: 70px;
  }

  .gym__container {
    padding: 0;
  }

  .gym__text {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
  }

  .gym__text h2 {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 6px;
  }

  .gym__text p {
    margin-bottom: 25px;
  }

  .gym__description {
    padding-right: 25px;
  }

  .gym__media {
    margin: 0 auto;
  }

  .gym__media img {
    width: 100%;
    height: 313px;

    object-fit: cover;
  }

  .gym__img {
    margin-bottom: 40px;
  }

  .gym__video {
    width: 320px;

    margin: 0 auto;
  }

  .gym__media video {
    width: 320px;
    height: 167px;

    background: transparent url("../img/video-preview.jpg") no-repeat 0 0;
    background-size: cover;
  }

  .gym__button {
    left: 125px;
  }
}
