.pancake {
  background: url("../img/pancake@1x.png") no-repeat transparent;
  background-size: 321px 384px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .contacts__container {
    background-image: url("../img/panckae@2x.png");
  }
}
