.ticket {
  position: relative;
  padding-top: 119px;
  padding-bottom: 80px;
  background-color: $light-grey;

  &::after {
    z-index: 1;
    content: "";
    position: absolute;
    bottom: -77px;
    right: 0;
    width: 287px;
    height: 421px;
    background: url("../img/pancake-desktop@1x.png") no-repeat transparent;
  }
}

.ticket__container {
  padding-left: 103px;
  padding-right: 103px;
}

.ticket h2 {
  font-family: $font-bebas;
  font-size: 49px;
  line-height: 49px;
  font-weight: bold;
  text-transform: uppercase;
  color: $blue;
  letter-spacing: 0.03em;
  text-align: center;
  margin: 0;
  margin-bottom: 35px;
}


.ticket__list-limits {
  @include list-reset;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 341px;
  margin: 0 auto;
  margin-bottom: 39px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);
}

.ticket__limit-button {
  @include button-reset;

  display: block;
  position: relative;
  min-width: 53px;
  min-height: 11px;
  padding: 0;
  text-align: center;
  font-family: $font-roboto;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  color: rgba(16, 38, 84, 0.5);
  cursor: pointer;
  background: transparent;
}

.ticket__limit-button:hover,
.ticket__limit-button:focus {
  color: rgba(16, 38, 84, 1);
  outline: none;
}

.ticket__limit-button--active {
  color: rgba(16, 38, 84, 1);

  &::after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #d10a42;
  }
}

.ticket__list-types {
  @include list-reset;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.ticket__types-item {
  z-index: 2;
  position: relative;
  margin-right: 3.44%;
  margin-bottom: 40px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

.ticket__tab--hide {
  display: none;
}

.ticket__tab--show {
  display: block;
}

@media (max-width: 1350px) {
  .ticket__container {
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media (max-width: 1280px) {
  .ticket__container {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media (max-width: $tablet) {
  .ticket {
    padding-top: 99px;
    padding-bottom: 100px;

    &::after {
      bottom: -53px;
      right: 0;
      width: 347px;
      height: 371px;
      background: url("../img/pancake-tablet@1x.png") no-repeat transparent;
    }
  }

  .ticket__container {
    padding-left: 45px;
    padding-right: 45px;
  }

  .ticket h2 {
    font-size: 42px;
    line-height: 42px;

    margin-bottom: 30px;
  }

  .ticket__list-limits {
    width: 332px;
    padding-bottom: 11px;
    margin-bottom: 44px;
  }

  .ticket__limit-button {
    font-size: 18px;
    line-height: 27px;
  }

  .ticket__list-types {
    flex-direction: column;
  }

  .ticket__types-item {
    margin-right: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: $mobile) {
  .ticket {
    padding-top: 69px;
    padding-bottom: 70px;

    &::after {
      display: none;
    }
  }

  .ticket__limit-button--active::after {
    bottom: -13px;
  }

  .ticket__container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .ticket h2 {
    font-size: 32px;
    line-height: 32px;

    margin-bottom: 23px;
  }

  .ticket__list-limits {
    width: 290px;
    padding-bottom: 11px;
    margin-bottom: 34px;
  }

  .ticket__limit-button {
    font-size: 16px;
    line-height: 24px;
  }

  .ticket__types-item {
    margin-bottom: 35px;
  }
}
