.ticket-card {
  position: relative;
  width: 31.03%;
  min-height: 448px;
  padding: 63px 77px;
  text-align: center;
  background-color: $white;

  &:focus,
  &:hover {
    border-width: 7px;
    border-style: solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(120deg, #ed0233, #003eb7);
    outline: none;
    padding: 56px 70px;
  }
}

.ticket-card h3 {
  font-family: $font-roboto;
  font-size: 26px;
  line-height: 29px;
  font-weight: bold;
  color: $blue;
  margin: 0;
  margin-bottom: 10px;
}

.ticket-card p {
  font-family: $font-roboto;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  color: $grey-blue;
  margin: 0;
  margin-bottom: 65px;
}

.ticket-card .ticket-card__back {
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  line-height: 100px;
  font-weight: bold;
  color: #e8e8e8;
  opacity: 0.48;
  margin: 0;
}

.ticket-card__price {
  z-index: 100;
  position: relative;
  font-family: $font-roboto;
  font-size: 60px;
  line-height: 90px;
  font-weight: bold;
  color: $light-blue;
  margin: 0;
  margin-right: 43px;

  &::after {
    content: "";
    position: absolute;
    top: 15px;
    right: -45px;
    width: 30px;
    height: 42px;
    background: transparent url("../img/icon-rub.svg") no-repeat 0 0;
  }
}

.ticket-card__button {
  margin: 0 auto;
  margin-top: 34px;
}

@media (max-width: $tablet) {
  .ticket-card {
    width: 442px;
  }

  .ticket-card__button {
    margin: 0 auto;
    margin-top: 34px;
  }
}

@media (max-width: $mobile) {
  .ticket-card {
    width: 290px;
    min-height: 384px;
    padding: 51px 40px;

    &:focus,
    &:hover {
      padding: 44px 33px;
    }
  }

  .ticket-card h3 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 10px;
  }

  .ticket-card p {
    margin-bottom: 53px;
  }

  .ticket-card .ticket-card__back {
    font-size: 80px;
    line-height: 80px;
  }

  .ticket-card__price {
    font-size: 48px;
    line-height: 72px;
    margin-right: 31px;

    &::after {
      top: 14px;
      right: -35px;
      width: 24px;
      height: 33px;
      background: transparent url("../img/icon-rub-small.svg") no-repeat 0 0;
    }
  }

  .ticket-card__button {
    margin-top: 30px;
  }
}
